* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#Project {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 500px;
}

#local {
  padding-top: 40px;
}

#cep {
  width: 200px;
}

button {
  background-color: #007aff;
  color: #fff;
  cursor: pointer;
}

input,
button {
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

#resul {
  padding: 20px;
  line-height: 1.8;
  color: black;
  font-size: 1em;
  text-align: center;
  font-weight: 600;
  word-wrap: break-word;
}

/* MOBILE */
@media (max-width: 480px) {
  body {
    background-image: url(Imagens/busca-cep.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15px;
  }

  #Project {
    width: 100%;
    max-width: 350px;
    background-color: rgb(255, 255, 255);
    padding: 25px 15px;
  }

  #cep,
  button {
    width: 100%;
    padding: 12px;
    text-align: center;
    display: block;
    margin: 8px 0;
  }

  #cep {
    border: 1px solid #007aff;
  }

  #resul {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    color: black;
    font-weight: 500;
    font-size: 0.95em;
  }

  h1 {
    font-weight: 900;
    font-size: 1.5rem;
  }
}